<p style="color: green"><%= notice %></p>

<h3>Recipes</h3>

<% @recipes.each do |recipe| %>
  <div class="recipes">
    <div class="recipe-info">
      <%= link_to "#{ recipe.name }", recipe %>
      <% if can? :destroy, recipe %>
        <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "button" %>
      <% end %>
    </div>

    <p class="recipe-description"><%= recipe.description %></p>
  </div>
<% end %>

<%= link_to "New recipe", new_recipe_path %>
